# Getting Started

In this series of MOOCs we aim to introduce participants to methods for analyzing sports data using Python. In this first MOOC we introduce some basic concepts. These can be broken down into three areas:

1.  How to code sports data so that you can apply statistical methods
2. The use of statistical methods 
3. The interpretation of results

As we go along we will introduce you to the concepts by analyzing data from different sports and generating results. Once you get the hang of how this works, you'll Pythagorean be able to do it for yourself.

In this first week, we're going to go through simple but powerful examples that introduce you to all three elements.

# The Pythagorean Expectation

The Pythagorean expectation is an idea devised by the famous baseball analyst, Bill James, but it can in fact be applied to any sport.

In any sports league, teams win games by accumulating a higher total than  opponent. In baseball and cricket the relevant totals are runs, in basketball it is points, and in soccer and hockey it is goals (by "hockey" we mean here what the world outside of the US and Canada usually calls ice hockey, but in fact the same is true in field hockey).

The Pythagorean expectation can be described thus: in any season, the percentage of games won will be proportional to the square of total runs/points/goals scored by the team *squared* divided by the sum of total runs/points/goals scored by the team *squared* plus total runs/points/goals conceded by the team *squared*.

or *wpc = T<sub>F</sub><sup>2</sup> / ( T<sub>F</sub><sup>2</sup> + T<sub>A</sub><sup>2</sup> )*

Where T<sub>F</sub> is runs/points/goals scored and T<sub>A</sub> is runs/points/goals conceded.

This is a concept which can help to explain not only why teams are successful, but also can be used as the basis for predicting results in the future.

In this first week we are going to derive the Pythagorean expectation for five leagues in five different sports:

Major League Baseball
The English Premier League (soccer)
The Indian Premier League (cricket)
The National Basketball Association (NBA)
The National Hockey League (NHL)


## Coding the data

To derive the Pythagorean Expectation we will need to manipulate the data, which is a core skill that we expect you to obtain from these MOOCs. However, for this first week, we move quite quickly through the code, since our main objective is to show you the kinds of analysis you will be able to produce once you master Python.

## The Pythagorean Expectation for baseball

We begin, naturally enough, with baseball. Running code in Python typically involves the following steps:

1. Importing "packages" - these enable to run certain types of commands. The same ones come up over and over again - pandas, numpy, matplotlib.pyplot and so on.

2. Import the raw data - from a csv or excel file - in these MOOCs we will provide the data for you

3. Running commands to shape the data in preparation for running the statistical model

4. Running the statistical model

5. Reviewing the results

With each line of code below, there is a brief explanation of the code. When you are ready, read each line, then place the cursor on the relevant line and press "run" in the toolbar.

In [1]:
# Here are the packages we need

import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# This command imports our data, which is a log of games played in 2018 doenloaded from Retrosheet 
#(you can find the data here: https://www.retrosheet.org/)
# the second line of the command prints a list of variable names - there are many more than we need

MLB = pd.read_excel('../../Data/Week 1/Retrosheet MLB game log 2018.xlsx')
print(MLB.columns.tolist())

['Date', 'DoubleHeader', 'DayOfWeek', 'VisitingTeam', 'VisitingTeamLeague', 'VisitingTeamGameNumber', 'HomeTeam', 'HomeTeamLeague', 'HomeTeamGameNumber', 'VisitorRunsScored', 'HomeRunsScore', 'LengthInOuts', 'DayNight', 'CompletionInfo', 'ForfeitInfo', 'ProtestInfo', 'ParkID', 'Attendence', 'Duration', 'VisitorLineScore', 'HomeLineScore', 'VisitorAB', 'VisitorH', 'VisitorD', 'VisitorT', 'VisitorHR', 'VisitorRBI', 'VisitorSH', 'VisitorSF', 'VisitorHBP', 'VisitorBB', 'VisitorIBB', 'VisitorK', 'VisitorSB', 'VisitorCS', 'VisitorGDP', 'VisitorCI', 'VisitorLOB', 'VisitorPitchers', 'VisitorER', 'VisitorTER', 'VisitorWP', 'VisitorBalks', 'VisitorPO', 'VisitorA', 'VisitorE', 'VisitorPassed', 'VisitorDB', 'VisitorTP', 'HomeAB', 'HomeH', 'HomeD', 'HomeT', 'HomeHR', 'HomeRBI', 'HomeSH', 'HomeSF', 'HomeHBP', 'HomeBB', 'HomeIBB', 'HomeK', 'HomeSB', 'HomeCS', 'HomeGDP', 'HomeCI', 'HomeLOB', 'HomePitchers', 'HomeER', 'HomeTER', 'HomeWP', 'HomeBalks', 'HomePO', 'HomeA', 'HomeE', 'HomePassed', 'HomeDB', 'HomeTP', 'UmpireHID', 'UmpireHName', 'Umpire1BID', 'Umpire1BName', 'Umpire2BID', 'Umpire2BName', 'Umpire3BID', 'Umpire3BName', 'UmpireLFID', 'UmpireLFName', 'UmpireRFID', 'UmpireRFName', 'VisitorManagerID', 'VisitorManagerName', 'HomeManagerID', 'HomeManagerName', 'WinningPitcherID', 'WinningPitcherName', 'LosingPitcherID', 'LosingPitcherNAme', 'SavingPitcherID', 'SavingPitcherName', 'GameWinningRBIID', 'GameWinningRBIName', 'VisitorStartingPitcherID', 'VisitorStartingPitcherName', 'HomeStartingPitcherID', 'HomeStartingPitcherName', 'VisitorBatting1PlayerID', 'VisitorBatting1Name', 'VisitorBatting1Position', 'VisitorBatting2PlayerID', 'VisitorBatting2Name', 'VisitorBatting2Position', 'VisitorBatting3PlayerID', 'VisitorBatting3Name', 'VisitorBatting3Position', 'VisitorBatting4PlayerID', 'VisitorBatting4Name', 'VisitorBatting4Position', 'VisitorBatting5PlayerID', 'VisitorBatting5Name', 'VisitorBatting5Position', 'VisitorBatting6PlayerID', 'VisitorBatting6Name', 'VisitorBatting6Position', 'VisitorBatting7PlayerID', 'VisitorBatting7Name', 'VisitorBatting7Position', 'VisitorBatting8PlayerID', 'VisitorBatting8Name', 'VisitorBatting8Position', 'VisitorBatting9PlayerID', 'VisitorBatting9Name', 'VisitorBatting9Position', 'HomeBatting1PlayerID', 'HomeBatting1Name', 'HomeBatting1Position', 'HomeBatting2PlayerID', 'HomeBatting2Name', 'HomeBatting2Position', 'HomeBatting3PlayerID', 'HomeBatting3Name', 'HomeBatting3Position', 'HomeBatting4PlayerID', 'HomeBatting4Name', 'HomeBatting4Position', 'HomeBatting5PlayerID', 'HomeBatting5Name', 'HomeBatting5Position', 'HomeBatting6PlayerID', 'HomeBatting6Name', 'HomeBatting6Position', 'HomeBatting7PlayerID', 'HomeBatting7Name', 'HomeBatting7Position', 'HomeBatting8PlayerID', 'HomeBatting8Name', 'HomeBatting8Position', 'HomeBatting9PlayerID', 'HomeBatting9Name', 'HomeBatting9Position', 'AdditionalInfo', 'AcquisitionInfo']

In [3]:
# We can see what our dataframe looks like simply by typing its name

MLB

,Date,DoubleHeader,DayOfWeek,VisitingTeam,VisitingTeamLeague,VisitingTeamGameNumber,HomeTeam,HomeTeamLeague,HomeTeamGameNumber,VisitorRunsScored,...,HomeBatting7Name,HomeBatting7Position,HomeBatting8PlayerID,HomeBatting8Name,HomeBatting8Position,HomeBatting9PlayerID,HomeBatting9Name,HomeBatting9Position,AdditionalInfo,AcquisitionInfo
0,20180329,0,Thu,COL,NL,1,ARI,NL,1,2,...,Nick Ahmed,6,dysoj001,Jarrod Dyson,9,corbp001,Patrick Corbin,1,NaN,Y
1,20180329,0,Thu,PHI,NL,1,ATL,NL,1,5,...,Dansby Swanson,6,flahr001,Ryan Flaherty,5,tehej001,Julio Teheran,1,NaN,Y
2,20180329,0,Thu,SFN,NL,1,LAN,NL,1,1,...,Yasmani Grandal,2,forsl001,Logan Forsythe,5,kersc001,Clayton Kershaw,1,NaN,Y
3,20180329,0,Thu,CHN,NL,1,MIA,NL,1,8,...,Miguel Rojas,6,wallc001,Chad Wallach,2,urenj001,Jose Urena,1,NaN,Y
4,20180329,0,Thu,SLN,NL,1,NYN,NL,1,4,...,Kevin Plawecki,2,syndn001,Noah Syndergaard,1,rosaa003,Amed Rosario,6,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2426,20180930,0,Sun,CHA,AL,162,MIN,AL,162,4,...,Logan Forsythe,4,astuw001,Willians Astudillo,5,gratj001,Juan Graterol,2,NaN,Y
2427,20180930,0,Sun,TEX,AL,162,SEA,AL,162,1,...,Kristopher Negron,4,freid001,David Freitas,2,romia001,Andrew Romine,6,NaN,Y
2428,20180930,0,Sun,TOR,AL,162,TBA,AL,162,4,...,Austin Meadows,9,bauej001,Jake Bauers,3,ciufn001,Nick Ciuffo,2,NaN,Y
2429,20181001,0,Mon,MIL,NL,163,CHN,NL,163,3,...,Jason Heyward,8,quinj001,Jose Quintana,1,contw001,Willson Contreras,2,NaN,Y
2430,20181001,0,Mon,COL,NL,163,LAN,NL,163,2,...,Yasiel Puig,9,herne001,Enrique Hernandez,4,buehw001,Walker Buehler,1,NaN,Y

In [4]:
# For the Pythagorean Expectation we need only runs scored and conceded. Of course, we also need the names of the teams.
# and the date will also be useful. We put these into a new dataframe (df) which we call MLB18.
# The variable names are rather lengthy, so to make life easier we can rename columns to give them short names.
# If we want to see what the data looks like, we can just type the name of the df.

MLB18 = MLB[['VisitingTeam','HomeTeam','VisitorRunsScored','HomeRunsScore','Date']]
MLB18 = MLB18.rename(columns={'VisitorRunsScored':'VisR','HomeRunsScore':'HomR'})
MLB18

     VisitingTeam HomeTeam  VisR  HomR      Date
0             COL      ARI     2     8  20180329
1             PHI      ATL     5     8  20180329
2             SFN      LAN     1     0  20180329
3             CHN      MIA     8     4  20180329
4             SLN      NYN     4     9  20180329
...           ...      ...   ...   ...       ...
2426          CHA      MIN     4     5  20180930
2427          TEX      SEA     1     3  20180930
2428          TOR      TBA     4     9  20180930
2429          MIL      CHN     3     1  20181001
2430          COL      LAN     2     5  20181001

[2431 rows x 5 columns]

In [5]:
# We will need to know who won the game - which we can tell by who scored the more runs, the home team or the visiting teams
#(there are no ties in baseball)
# The variable 'hwin' is defined here as equaling 1 if the home team scored more runs, and zero otherwise. 
# The variable 'awin' is defined in a similar way for the away team.
# we also create a 'counter' variable = 1 for each row.

MLB18['hwin']= np.where(MLB18['HomR']>MLB18['VisR'],1,0)
MLB18['awin']= np.where(MLB18['HomR']<MLB18['VisR'],1,0)
MLB18['count']=1
MLB18

     VisitingTeam HomeTeam  VisR  HomR      Date  hwin  awin  count
0             COL      ARI     2     8  20180329     1     0      1
1             PHI      ATL     5     8  20180329     1     0      1
2             SFN      LAN     1     0  20180329     0     1      1
3             CHN      MIA     8     4  20180329     0     1      1
4             SLN      NYN     4     9  20180329     1     0      1
...           ...      ...   ...   ...       ...   ...   ...    ...
2426          CHA      MIN     4     5  20180930     1     0      1
2427          TEX      SEA     1     3  20180930     1     0      1
2428          TOR      TBA     4     9  20180930     1     0      1
2429          MIL      CHN     3     1  20181001     0     1      1
2430          COL      LAN     2     5  20181001     1     0      1

[2431 rows x 8 columns]

In [6]:
# Since our data refers to games, for each game there are two teams, but what we want is a list of runs scored and conceded
# by each team and its win percentage. 
# To create this we are going to define two dfs, one for home teams and one for away teams, which we can then merge to get 
# the stats for the entire season.
# Here we define a df for home teams. The command is called ".groupby" and we will use this often. We group by home team
# to obtain the sum of wins and runs (scored and conceded) and also the counter variable to show how many games were played 
# (in MLB the teams do not necessarily play the same number of games in the regular season)
# Finally we rename the columns.
 
MLBhome = MLB18.groupby('HomeTeam')['hwin','HomR','VisR','count'].sum().reset_index()
MLBhome = MLBhome.rename(columns={'HomeTeam':'team','VisR':'VisRh','HomR':'HomRh','count':'Gh'})
MLBhome

C:\Users\osval\AppData\Local\Temp\ipykernel_2344\1582109484.py:10: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  MLBhome = MLB18.groupby('HomeTeam')['hwin','HomR','VisR','count'].sum().reset_index()

   team  hwin  HomRh  VisRh  Gh
0   ANA    42    355    355  81
1   ARI    40    359    328  81
2   ATL    43    391    357  81
3   BAL    28    339    411  81
4   BOS    57    468    322  81
5   CHA    30    321    409  81
6   CHN    51    385    349  82
7   CIN    37    385    418  81
8   CLE    49    443    334  81
9   COL    47    445    404  81
10  DET    38    330    363  81
11  HOU    46    373    288  81
12  KCA    32    333    424  81
13  LAN    45    366    297  82
14  MIA    38    279    323  81
15  MIL    51    384    322  81
16  MIN    49    397    361  81
17  NYA    53    453    352  81
18  NYN    37    274    310  81
19  OAK    50    369    310  81
20  PHI    49    370    347  81
21  PIT    44    326    318  80
22  SDN    31    313    390  81
23  SEA    45    299    337  81
24  SFN    42    321    334  81
25  SLN    43    351    346  81
26  TBA    51    371    284  81
27  TEX    34    432    479  81
28  TOR    40    361    393  81
29  WAS    41    409    363  81

# Self test - 1

Sometimes the code you write doesn't produce the result you want, and you need to go back and re-do it. Frequently it makes sense to go back to the beginning, rather than try to amend a df which isn't working the way you want it to. Re-starting is easy- just click on "Kernel" in the toolbar and then click "Restart and Clear Output". You can now begin again.

Copy the previous cell (first use "Insert" to add a extra cell, and then use copy and paste), and then delete ".reset_index()" and then run the code to see what happens differently. The extra headings would be a problem later on, which makes ".reset_index()" very useful in many situations.

In [ ]:
# Now we create a similar df for teams playing as visitors - To write this code all you need to do is to copy and paste
# the previous cell and then change any reference to the home team into a reference to the visiting team.

MLBaway = MLB18.groupby('VisitingTeam')['awin','HomR','VisR','count'].sum().reset_index()
MLBaway = MLBaway.rename(columns={'VisitingTeam':'team','VisR':'VisRa','HomR':'HomRa','count':'Ga'})
MLBaway

In [ ]:
# We now merge MLBhome and MLBaway so that we have a list of all the clubs with home and away records for the 2018 season
# We will be using pd.merge frequently during the course to combine dfs
# Note that we've called this new df "MLB18", which is name we had already used for earlier df. By doing this we are simply
# overwriting the old MLB18 - which is fine in this case since we don't need the data in the old MLB18 any more.
# If we did want to retain the daat in the old MLB18 df, we should have given this new df a different name. 

MLB18 = pd.merge(MLBhome,MLBaway,on='team')
MLB18

# Self test - 2

When creating MLBhome and MLBaway we we renamed the variables using ".rename(columns ={'oldname':'newname'})". Copy and paste these cells and then re-run the code and see how the merge looks. Note that when Python encounters two variables with the same name in a merge it relabels the names with _x and _y. 

Sometimes we can work with the data in this way, but usually renaming makes it easier to follow.

In [ ]:
# Now we create the total wins, games, played, runs scored and run conceded by summing the totals as home team and away team

MLB18['W']=MLB18['hwin']+MLB18['awin']
MLB18['G']=MLB18['Gh']+MLB18['Ga']
MLB18['R']=MLB18['HomRh']+MLB18['VisRa']
MLB18['RA']=MLB18['VisRh']+MLB18['HomRa']
MLB18

In [ ]:
# The last step in preparing the data is to define win percentage and the Pythagorean Expectation.

MLB18['wpc'] = MLB18['W']/MLB18['G']
MLB18['pyth'] = MLB18['R']**2/(MLB18['R']**2 + MLB18['RA']**2)
MLB18

In [ ]:
# Having prepared the data, we are now ready to examine it. First, we generate and xy plot use the Seaborn package.
# This illustrates nicely the close correlation between win percentage and the Pythagorean Expectation.

sns.relplot(x="pyth", y="W", data = MLB18)

## Self test - 3

run sns.relplot again, but this time write y="W" instead of y="wpc". What do you find? Does it make a difference?

# Finally we generate a regression.

The regression output tells you many things about the fitted relationship between win percentage and the Pythagorean Expectation. Regression is a method for identifying an equation which best fits the data. In this case that relationship is 

wpc = Intercept + coef x pyth

You can see the value of Intercept is 0.0609 and coef is .8770. It's this latter value were interested in. It means that for every one unit increase in pyth, the value of wpc goes up by 0.887.

Two other points to note: 

(i) The standard error (std err) gives us an idea of the precision of the estimate. The ratio of the coefficient (coef) to the standard error is called the t statistic (t) and its value informs us about statistical significance. This is illustrated by the p-value (P > |t|) - this is the probability that we would observe the value .8770 by chance, if the true value were really zero. This probability here is 0.000 - (this is not exactly zero, but the table doesn't include enough decimal places to show this) which means we can confident it is not zero. By convention, it is usual to conclude that we cannot be confident that the value of the coefficient is not zero if the p-value is greater than .05

(ii) in the top right hand corner of the table is the R-squared. This statistic tells you the percentage of variation in the y-variable (wpc) which can be accounted for by the variation in the x variables (pyth). R-squared can be thought of as a percentage - here the Pythagorean Expectation can account for 89.4% of the variation in win percentage.

In [ ]:
# Finally we generate a regression.

pyth_lm = smf.ols(formula = 'wpc ~ pyth', data=MLB18).fit()
pyth_lm.summary()

## Self test - 4

Run the regression above but instead write 'wpc ~ W' instead of 'wpc ~ pyth' in the line starting pyth_lm. What difference does this make?

# Conclusion

This example was intended to get you started- don't worry if some things seem unclear - we're now going to conduct the same analysis for cricket, basketball, soccer and hockey. This will extend your understanding and help to make clear what we have just looked at. 

A Useful Tip: when working in Python you will often come across problems that can be solved using methods you have encountered previously. It is often a good idea to return to an old notebook at a later stage to remind yourself how to code a particular problem.